# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userosscache

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# .NET
project.lock.json
artifacts/
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Logs e temporários
*.log
*.tmp

# Claude
CLAUDE.md
.claude/
